.booking-card {
	border-radius: 12px;
	padding: 1.5rem;
	transition: all 0.2s ease-in-out;
	width: 450px;
	height: 300px;
	box-shadow: 0px 0px 10px 0px #aaa;
}

.booking-card:hover {
	transform: scale(103%);
}

.card-bold {
	font-size: 25px;
	font-weight: bold;
	font-family: "Barlow Semi Condensed", sans-serif;
}

.card-type {
	align-items: center;
	padding: 0.3rem 0.6rem;
	border-radius: 99px;
	color: white;
	gap: 0.5rem;
}

.card-contact-header {
	align-items: center;
	gap: 0.5rem;
	margin: 1rem 0rem;
	font-weight: bold;
}

.card-contact-info p {
	margin: 0;
}
