.navbar {
  display: flex;
  padding: 5px;
  height: 120px;
  width: 100%;
  background-color: #0a3051;
  position: relative;
}

.nav-buttons {
  display: flex;
  margin-left: auto;
}

.nav-btn {
  border: none;
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #0a3051;
  padding: 10px 10px 10px 10px;
  font-size: 20px;
  margin-right: auto;
  cursor: pointer;
  color: white;
}

.nav-btn:hover {
  color: lightblue;
}
