.navbar {
	display: flex;
	height: 6rem;
	width: 100%;
	background-color: #0a3051;
	/* position: relative; */
}

.nav-buttons {
	display: flex;
	margin-left: auto;
	margin-right: 2rem;
}

.nav-btn {
	border: none;
	width: 100px;
	height: 100%;
	background-color: #0a3051;
	padding: 10px 10px 10px 10px;
	font-size: 20px;
	margin-right: auto;
	cursor: pointer;
	color: white;
}

.nav-btn:hover {
	color: lightblue;
}
