.containerbox1 {
  display: flex;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
}

.col-3 {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.btn1 {
  display: flex;
  flex-direction: column;
}

.title {
  min-width: 300px;
  max-width: 700px;
  margin: auto;
  background-color: #82b0c9;
  padding: 10px 30px;
  border-radius: 2px;
  font-size: 16px;
  text-align: center;
  padding: 1rem;
  gap: 7px;
  display: flex;
  flex-direction: column;
}

p1 {
  text-align: left;
  display: flex;
  flex-direction: column;
}
.textArea {
  display: flex;
  flex-direction: column;
  height: 100px;
  font-family: "helvetica";
}

.button1 {
  margin: 20px 0px;
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid lightgrey;
}
.button1:hover {
  background-color: black;
  color: lightgrey;
}
