/* Global styles go in here please :) */
.fb {
  display: flex;
  text-align: center;
  flex-direction: column;
  display: grid;
}

.row {
  flex-direction: row;
}

.mg-1 {
  margin: 1rem;
}

.no-td {
	text-decoration: none;
}
