/* Global styles go in here please :) */
.fb {
	display: flex;
}

.col {
	flex-direction: column;
}

.row {
	flex-direction: row;
}

.mg-1 {
	margin: 1rem;
}

.centered {
	justify-content: center;
	align-items: center;
}
